Resources:
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Auth:
          type: "s3"
          buckets: ["blf-craft-license"]
          roleName: 
            "Fn::GetOptionSetting": 
              Namespace: "aws:autoscaling:launchconfiguration"
              OptionName: "IamInstanceProfile"
              DefaultValue: "aws-elasticbeanstalk-ec2-role"
files:
  # Craft license file
  /var/app/current/config/license.key:
    mode: "000644"
    owner: webapp
    group: webapp
    authentication: "S3Auth"
    source: https://s3-eu-west-1.amazonaws.com/blf-craft-license/license.key