Resources:
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Auth:
          type: "s3"
          buckets: ["blf-craft-license"]
          roleName: 
            "Fn::GetOptionSetting": 
              Namespace: "aws:autoscaling:launchconfiguration"
              OptionName: "IamInstanceProfile"
              DefaultValue: "aws-elasticbeanstalk-ec2-role"
files:
  # Craft license file
  /etc/blf/config/license.key:
    mode: "000644"
    owner: webapp
    group: webapp
    authentication: "S3Auth"
    source: https://s3-eu-west-1.amazonaws.com/blf-craft-license/license.key
container_commands:
  copylicense:
    command: "mv /etc/blf/config/license.key config/license.key"
  migrate:
    command: "su -s /bin/bash -c './craft project-config/sync && ./craft migrate/all' webapp"